.places__paragraph {
  font-size: 18px;
  line-height: 29px;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .places__paragraph {

    
  }
}


@media screen and (max-width: 320px) {
  .places__paragraph {
    max-width: 288px;
    margin: 32px auto 0;
    font-size: 16px;
    line-height: 26px;
  }

  .places__paragraph:last-of-type {
    margin-top: 25px;
  }

}