.places__paragraph {
  font-size: 18px;
  line-height: 29px;
  margin: 0;
}

.places__paragraph:not(:first-of-type) {
  margin-top: 26px;
}

@media screen and (max-width: 768px) {
  .places__paragraph {
    font-size: 16px;
    line-height: 26px;
  }
}

@media screen and (max-width: 320px) {
  .places__paragraph {
    margin-top: 8px;
    padding: 0 15px 0;
    line-height: 26px;
  }
}