.places {
  max-width: 984px;
  margin: 80px auto 0;

  display: grid;
  grid-template-columns: 460px 484px;
  gap: 45px 40px;
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: 928px;
    grid-template-columns: 440px 1fr;
    grid-column: 1/4;
    gap: 45px 30px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    max-width: 720px;
    margin: 88px auto 0;
    grid-template-columns: 340px 1fr;
    gap: 73px 28px;
  }
}

@media screen and (max-width: 320px) {
  .places {
    margin-top: 64px;
    max-width: 320px;
    grid-template-columns: 1fr;
    row-gap: 15px;
  }
}