.places__link {
  font-size: 18px;
  color: #fff;
  margin: 0;
}

.places__link:hover {
  opacity: 0.8;
  transition: opacity 0.3s;
}

/*
@media screen and (max-width: 320px) {
  .places__link {
    font-size: 18px;
    line-height: 22px;
    margin-top: 12px;
  }
} */


