.header {
  width: 100%;
  height: 52px;

  margin-top: 28px;

  display: flex;
  justify-content: space-between;

  grid-column: span 3;
}

@media screen and (max-width: 1024px) {
  .header {
    
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 720px;
    padding: 0 24px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 288px;
    padding: 0 16px;
  }
}