.header {
  max-width: 1184px;
  min-height: 52px;
  
  margin: 28px auto 0;
  padding: 0 24px 0 24px;

  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .header {
    max-width: 928px;
  }
}

@media screen and (max-width:320px) {
  .header {
    min-height: 42px;
    margin-top: 16px;
    padding: 0 16px 0 16px;
  }
}