.footer__link {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  margin: 0;
}

.footer__link:hover {
  opacity: 0.8;
  transition: opacity 0.3s;
}

@media screen and (max-width: 320px) {
  .footer__link {
    font-size: 24px;
    margin-bottom: 28px;
    margin-left: 0;
  }
}

@media screen and (min-width: 321px) {
  .footer__link:not(:first-of-type) {
      margin-left: 13px;
  }
}