.main-grid {
  max-width: 1184px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 100px 1fr 100px;
}


@media screen and (max-width: 1024px) {
  .main-grid {
    max-width: 928px;
    padding: 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .main-grid {
    max-width: 768px;
    padding: 0;
  }
}

@media screen and (max-width: 320px) {
  .main-grid {
    max-width: 320px;
    padding: 0;
  }

}