@media screen and (max-width: 1024px) {
  .places__title_margin-baikal {
    margin-top: 35px;
  }
}

@media screen and (max-width: 768px) {
  .places__title_margin-baikal {
    margin-top: 30px;
  }
}

@media screen and (max-width: 320px) {
  .places__title_margin-baikal {
    margin: 25px 0 2px 14px;
  }
}