@media screen and (max-width: 1024px) {
  .places__title_margin-kosa {
    margin-top: 14px;
  }
}

@media screen and (max-width: 768px) {
  .places__title_margin-kosa {
    margin-top: 3px;
  }
}

@media screen and (max-width: 320px) {
  .places__title_margin-kosa {
    margin: 2px 0 0 15px;
  }
}