.lead__image {
  margin-top: 64px;
  width: 100%;
}

@media screen and (max-width:1024px) {
  .lead__image {
    margin: 55px auto 0;
  }
}

@media screen and (max-width:320px) {
  .lead__image {
    margin: 40px auto 0;
  }
}