.places__url-heading {
  font-size: 12px;
  letter-spacing: 2px;
  color: #aaa;
  margin: 0;

}

@media screen and (max-width: 320px) {
  .places__url-heading {
    min-width: 288px;
    margin: 6px auto 0;
  }
}