.frame {
  min-width: 320px;
  max-width: 1280px;
  margin: auto;
  padding: 0 20px 0;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .frame {
    box-sizing: border-box;
    padding: 0 20px 0;
  }
}

@media screen and (max-width: 768px) {
  .frame {
    padding: 0;
  }
}